<?php
// Drupal 6
$db_url = 'mysql://DB_USER:DB_PASS@127.0.0.1:DB_PORT/DB_NAME';
// Drupal 7
$databases['default']['default'] = array(
  'driver' => 'mysql',
  'database' => 'DB_NAME',
  'username' => 'DB_USER',
  'password' => 'DB_PASS',
  'host'     => '127.0.0.1',
  'port'     => 'DB_PORT',
  'collation' => 'utf8_general_ci',
);

$base_url = 'https://NAME-SITE.dev.devdrupal.org';
$cookie_domain = 'NAME-SITE.dev.devdrupal.org';

$conf['apachesolr_read_only'] = 1;
$conf['apachesolr_environments']['solr']['url'] = 'http://devsolr1.drupal.aws/solr/do-live';

// Memcache configuration.
$conf['memcache_key_prefix'] = 'DB_NAME';

// Memcache config.
if ('SITE' == 'drupal') {
  $conf['cache_backends'] = array( 'sites/all/modules/memcache/memcache.inc' );
  $conf['cache_default_class'] = 'MemCacheDrupal';
}

// Do not use Beanstalk for Drupal.org queues.
unset($conf['queue_class_versioncontrol_repomgr']);
unset($conf['queue_class_versioncontrol_git_repo_parsing']);
unset($conf['queue_class_versioncontrol_reposync']);

// Do not require TFA for admins.
$conf['tfa_basic_roles_require'] = array();

$conf['drupalorg_site_status'] = 'This is a <a href="http://drupal.org/node/1018084">development site</a>.';

$conf['simpletest_verbose'] = 1;
$conf['simpletest_username'] = 'drupal';
$conf['simpletest_password'] = 'drupal';

$conf['site_name'] = 'NAME SITE dev';

// Allow permissions changes.
$conf['drupalorg_crosssite_lock_permissions'] = FALSE;
