<VirtualHost *:8080>
  ServerName NAME-SITE.redesign.devdrupal.org

  DocumentRoot /var/www/dev/NAME-SITE.redesign.devdrupal.org/htdocs

  AddOutputFilterByType DEFLATE text/css application/javascript application/x-javascript text/html
  Header add Vary "Accept-Encoding"

  <Directory "/var/www/dev/NAME-SITE.redesign.devdrupal.org/htdocs">
    Include vhosts.d/development.inc
  </Directory>
  <Directory "/usr/share/xhprof">
    Include vhosts.d/development.inc
  </Directory>

  ErrorLog "|/usr/sbin/cronolog /var/www/dev/NAME-SITE.redesign.devdrupal.org/logs/error/%Y%m%d.log"
  CustomLog "|/usr/sbin/cronolog /var/www/dev/NAME-SITE.redesign.devdrupal.org/logs/access/%Y%m%d.log" combined
</VirtualHost>  
