<VirtualHost *:8080>
  ServerName NAME-SITE.redesign.devdrupal.org

  DocumentRoot /var/www/dev/NAME-SITE.redesign.devdrupal.org/htdocs

  AddOutputFilterByType DEFLATE text/css application/javascript application/x-javascript text/html
  Header add Vary "Accept-Encoding"

  <Directory "/var/www/dev/NAME-SITE.redesign.devdrupal.org/htdocs">
    Options FollowSymLinks
    AllowOverride All

    AuthType Basic
    AuthName "Drupal Dev - use drupal/drupal"
    AuthUserFile /var/www/htpass
    Require valid-user

    Order Allow,Deny
    Allow from 140.211.166 140.211.10
    Satisfy any
  </Directory>

  ErrorLog "|/usr/sbin/cronolog /var/www/dev/NAME-SITE.redesign.devdrupal.org/logs/error/%Y%m%d.log"
  CustomLog "|/usr/sbin/cronolog /var/www/dev/NAME-SITE.redesign.devdrupal.org/logs/access/%Y%m%d.log" combined
</VirtualHost>  
